*{
    padding: 0;
    margin: 0;
}

header{
    background-color: white;
    padding: 7px 0;
}
.container{
    margin: auto;
    max-width: 1064px;
}
.d-flex{
    display: flex;

}
.justify-content{
    justify-content: space-between;
}
.justify-rigth{
    justify-content: flex-end;
}
.align-item{
    align-items: center;
}
header ul{
    list-style: none;
}
header nav li a{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #1C1B1B;
    text-decoration: none;
}
header nav li{
    margin-right: 28px;
}
header li:first-of-type{
    margin-right: 16px;
}
header li:last-of-type{
    margin-left: 7px;
}
header nav li:first-of-type{
    margin-right: 28px;
}

header nav li:last-of-type{
    margin-left:0;
}
header .container{
    position: relative;

}
header .logo{
    position: absolute;
    left: 50%;
    top: 13px;
    margin-left: -40px;
}
.main-banner{
    padding: 90px 0;
    background-color: #F0EFEB;
    position: relative;
}
.main-banner h1{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
margin-bottom: 42px;
}
.main-banner p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 26px;
}
.main-banner .container a{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    display: inline-block;
    background: #000000;
    border-radius: 100px;
    padding: 7px 23px;
    text-decoration: none;
}
.main-banner a img{
    position: absolute;
    top:0;
    right: 60px;
}
.People{
    background: rgba(204, 204, 204, 0.3);
    padding-top: 76px;
    padding-bottom: 61px;
}
.People .for-img{
    max-width: 385px;
    margin-right: 50px;
}
.People .for-img img{
    width: 100%;
    display: block;
}
.People .discription {
    max-width: 498px;
}
.People .discription h2{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}
.People .discription p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-top: 31px;
    margin-bottom: 40px;
}
.People .discription a{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;

}
.about{
    padding-top: 60px;
    padding-bottom: 248px;
}
.about-container{
    max-width: 692px;
    margin: auto;
}

.about-container p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;

}
.about-container h4{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-top: 47px;
}
.about-container h3{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-top: 88px;
    margin-bottom:52px;
}
.sab-container{
    max-width: 1060px;
   margin: auto;
}
 .about .sab-container p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
     margin-top: 27px;
     margin-bottom: 17px;
}
.about .sab-container h4{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
}
.about .sab-container a{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
    margin-left: 115px;
}

.culture{
    padding-top: 76px;
    padding-bottom: 51px;
    background: rgba(204, 204, 204, 0.6);
}
.culture .for-img{
    max-width: 385px;
    margin-left: 50px;
}
.culture .discription{
 max-width: 513px;
}
.culture .container{
    margin: auto;
    max-width: 1064px;
}
.culture h3{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    color: #000000;
}
.culture p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    color: #000000;
    margin: 31px 0;
}
.culture a{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: right;
    text-decoration-line: underline;
    color: #000000;
    margin-left: 344px;
}
.power{
    padding-top: 76px;
    padding-bottom: 51px;
    background: rgba(204, 204, 204, 0.3);
}
.power .for-img{
    max-width: 385px;
    margin-right:50px;
}
.power .for-img img{
    width: 100%;
    display: block;
}
.power .discription{
    max-width: 530px;
}
.power .container{
    margin: auto;
    max-width: 1064px;
}
.power h3{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.power p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-top: 31px;
    margin-bottom: 39px;
}

.power a{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
}

